body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #1f4287,#071e3d,#071e3d);
}
 main{
        border: 3px rgb(255, 255, 255) solid;
        border-radius: 5px;
        background-image: linear-gradient(160deg, #1e70b3, #2441be);
        text-align: center;
        margin-bottom: 50px;
 }
h1 {
    background-image: linear-gradient(to right, #1f4287,#071e3d,#071e3d);
    color: white;
    text-align: center;
    padding: 20px;
}
h2 {
  color:white;
  text-align: center;
  border: 2px black solid;
  background-image: linear-gradient(to right, #1f4287,#071e3d,#071e3d);
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 5px;
  padding-top: 5px;
}
dt {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}
dd {
    font-style: italic;
    margin-top: 10px;
    margin-left: 0;
    font-size: large;

}
div{
    border: solid 5px #000000;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    background-color: #3f3f3f;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-image: linear-gradient(#3b0579, #4024be);
  }
  .odkaz {
    color: white;
  }
  p {
    color: white;
    text-align: center;
  }
  figcaption {
    color: white;
    text-align: center;
    font-size: large;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
}

